<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-button fill="clear" slot="start" color="light" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-text> {{'home.new' | transloco}} </ion-text>
    <ion-avatar slot="end">
      <img src="assets/icon/woman.png" />
    </ion-avatar>
  </ion-item>
</ion-header>

<ion-content
  [fullscreen]="true"
  *ngIf="form
"
>
  <form
    [formGroup]="form
  "
  >
    <ion-input
      [label]="('add.name' | transloco)"
      label-placement="floating"
      fill="outline"
      formControlName="name"
    ></ion-input>
    <ion-input
      [label]="('add.lastname' | transloco)"
      label-placement="floating"
      fill="outline"
      ü
      formControlName="lastname"
    ></ion-input>
    <ion-item>
      <ion-label> {{'add.date' |transloco}} </ion-label>
      <ion-input
        value="{{ form.get('date').value | date: 'dd.MM.yyyy | HH:mm' }}"
        id="date"
        class="ion-text-end date"
        fill="outline"
      ></ion-input>
      <ion-popover trigger="date" size="auto">
        <ng-template>
          <ion-datetime formControlName="date"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select
          aria-label="Services"
          [placeholder]="('add.services' | transloco)"
          [multiple]="true"
          formControlName="services"
        >
          <ion-select-option
            *ngFor="let service of (_services | keyvalue)"
            [value]="service.key"
          >
            {{"services." + service.key | transloco }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button (click)="onSubmit()">{{'add.update' |transloco}}</ion-button>
  </form>
</ion-content>

<div class="logo" routerLink="/home">
  <img src="../../../../assets/icon/logo.png" alt="" />
</div>

<ion-alert
  [isOpen]="isAlertOpen"
  [header]="('alerts.alert' | transloco)"
  [message]="('alerts.missing' | transloco)"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
<ion-alert
  [isOpen]="isAlertOpen2"
  [header]="('alerts.success' | transloco)"
  [message]="('alerts.success_message' | transloco)"
  [buttons]="alertButtons"
  (didDismiss)="onComplete()"
></ion-alert>
