<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-button fill="clear" slot="start" color="light" (click)="goBack()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-text> {{'home.appointments' | transloco}} </ion-text>
    <ion-avatar slot="end">
      <img src="assets/icon/woman.png" />
    </ion-avatar>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="list">
  <ng-container *ngFor="let card of (list | keyvalue)">
    <ion-card *ngIf="card ">
      <ion-card-header>
        <ion-row>
          <ion-col size="8">
            <h4>
              {{$any(card).value.record.name | titlecase }}
              {{$any(card).value.record.lastname | titlecase}}
            </h4>
          </ion-col>
          <ion-col size="2" class="option">
            <ion-icon
              name="pencil"
              [size]="'small'"
              [routerLink]="['/home/edit/' + $any(card).key]"
              routerLinkActive="router-link-active"
            ></ion-icon>
          </ion-col>
          <ion-col size="2" class="option">
            <ion-icon
              name="trash"
              [size]="'small'"
              color="danger"
              (click)="onDelete($any(card).value, card.key)"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-icon name="calendar-outline" [size]="'medium'"></ion-icon>
            </ion-col>
            <ion-col class="date">
              {{$any(card).value.record.date | date:'dd/MM/yyyy | HH:mm'}}
            </ion-col>
          </ion-row>
          <ion-row class="bottom">
            <ion-chip
              *ngFor="let service of $any(card).value.record.services | keyvalue"
              color="primary"
              >{{'services.' + service.key | transloco }}</ion-chip
            >
            <ion-icon
              name="copy"
              [size]="'small'"
              (click)="onCopy(card.value)"
            ></ion-icon>
            <ion-icon
              name="send"
              [size]="'small'"
              (click)="onShare(card.value)"
            ></ion-icon>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ion-toast
    [isOpen]="is_open"
    [message]="('list.copied' | transloco)"
    [duration]="3000"
    class="custom-toast"
  ></ion-toast>
</ion-content>

<ion-alert
  [isOpen]="isAlertOpen"
  [header]="('alerts.success' |transloco)"
  [message]="('alerts.deleted' | transloco)"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
<ion-alert
  [isOpen]="isAlert2Open"
  [header]="('alerts.alert' |transloco)"
  [message]="('alerts.try_again' | transloco)"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
